@keyframes new-blink {
  from {
  	background-color: transparent;
  }
  to {
  	background-color: goldenrod;
  }
}


:root.light {
	--bg-color: #FFF;
	--bg-color-default: #FFF;
	--bg-color-list: #EEE;
	--bg-color-contrasted: #DDD;
	--bg-color-list-alt: rgba(226, 226, 226, 1);
	--bg-color-pre: #FFF;
	--bg-color-header: #673AB7;

	--text-color: #111;
	--primary-text-color: #111;
	--text-color-light: rgba(255, 255, 255, 0.9);
	--text-color-subtile: rgba(0, 0, 0, 0.5);
	--text-color-alert: #B71C1C;

	--border-general: 1px solid rgba(0, 0, 0, 0.2);
	--border-subtile: 1px solid rgba(0, 0, 0, 0.2);
}

:root.dark {
	--bg-color: #111;
	--bg-color-default: #111;
	--bg-color-list: #222;
	--bg-color-contrasted: #333;
	--bg-color-list-alt: rgba(48, 48, 48, 1);
	--bg-color-pre: #111;
	--bg-color-header: #673AB7;

	--primary-text-color: #ffffe0;
	--text-color-light: rgba(15, 15, 15, 0.9);
	--text-color-subtile: rgba(240, 240, 240, 0.5);
	--text-color-alert: #B71C1C;

	--border-general: 1px solid rgba(240, 240, 240, 0.2);
	--border-subtile: 1px solid rgba(240, 240, 240, 0.2);
}


html, body {
	background-color: var(--bg-color-default);
	margin: 0;
	padding: 0;
	font-family: 'verdana';
	font-size: 14px;
	color: var(--primary-text-color);
	height: 100vh;
	width: 100vw;
}

html * {
	transition: background-color 0.3s;
}

#app {
	display: flex;
	height: 97vh;
}

#app .server#__mash {
	display: none;
}

#app .server:not(#__mash) {
	display: block;
}
#app.mash .server#__mash {
	display: block;
}

#app.mash .server:not(#__mash) {
	display: none;
}

.server {
	flex: 1;
	overflow: auto; 
}

.server:not(:first-child) {
	border-left: var(--border-general);
}

.server .top-row {
	position: sticky;
	top: 0;
	background-color: var(--bg-color-default);
	z-index: 1;
	border-bottom: var(--border-general);
}

.server h2 {
	text-align: center;
	border-bottom: var(--border-general);
	background-color: var(--bg-color-header);
	color: var(--text-color-light);
	padding: 5px;
	margin: 0;
}

.server .content {
	list-style: none;
	padding: 0;
	margin: 0;
}

.server .content>.log-error {
	min-height: 20px;
	line-height: 20px;
	border-bottom: var(--border-general);
	padding: 8px 5px;
	background-color: var(--bg-color-list);
	cursor: pointer;
}
.server .content>.log-error:first-child {
	border-top: var(--border-general);
}
.server .content>.log-error:nth-child(2n+1) {
	background-color: var(--bg-color-list-alt);
}
.server .content>.log-error.new {
	animation-name: new-blink;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
.server .content>.log-error pre {
	margin: 0;
	overflow: hidden;
	cursor: auto;
	color: var(--primary-text-color);
	font-weight: normal;
	margin: 20px;
	background-color: var(--bg-color-pre);
	padding: 5px;
	border: var(--border-subtile);
	overflow-x: auto;
	box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}

.server .content>.log-error.minor {
	color: var(--text-color-subtile);
}
.server .content>.log-error.standard {
	color: var(--bg-color-header);
}
.server .content>.log-error.critical {
	color: var(--text-color-alert);
	font-weight: bold;
}
.server .content>.log-error .date {
	color: var(--primary-text-color);
	font-weight: normal;
}
.log-error .dropdown-arrow {
	transition: transform 0.3s;
	display: inline-block;
	float: right;
	color: var(--primary-text-color);
}
.log-error.open .dropdown-arrow {
	transform: rotate(90deg);
}

.filterbar {
	padding: 10px;
	display: flex;
}

.filterbar>*:not(.button) {
	flex: 1;
}
.filterbar>*:not(:first-child) {
	margin-left: 10px;
}
.button.active {
	background: var(--bg-color-header);
	color: white;
}

.date-header {
	min-height: 20px;
	line-height: 20px;
	border-bottom: var(--border-general);
	padding: 8px 5px;
	background: var(--bg-color-header);
	text-align: center;
	font-weight: bold;
	color: var(--text-color-light);
}

#settings {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 3vh;
	color: var(--primary-text-color);
	background-color: var(--bg-color-contrasted);
	padding-left: 20px;
	padding-top: 5px;
	box-sizing: border-box;
	transform: translateY(3vh);
	transition: transform 0.3s;
}

#settings.visible {
	transform: translateY(0);
}

#settings paper-checkbox:not(:first-child) {
	margin-left: 50px;
}