@keyframes newBlink {
  from {
  	background-color: transparent;
  }
  to {
  	background-color: goldenrod;
  }
}


:root {
	--bg-color: #EEE;
	--bg-color-alt: #DDD;
	--bg-color-pre: #FFF;

	--text-color: #111;
	--text-color-light: #EEE;
	--text-color-subtile: #888;
	--text-color-alert: #F00;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'verdana';
	font-size: 14px;
	color: var(--text-color);
}

#wrapper {
	display: flex;
	height: 100vh;
	width: 100vw;
}

.server {
	flex: 1;
	overflow: auto; 
}

.server:not(:first-child) {
	border-left: 1px solid #000;
}

.server>h2 {
	text-align: center;
	border-bottom: 1px solid black;
	background-color: var(--bg-color);
	padding: 5px;
	margin: 0;
}

.server .content {
	list-style: none;
	padding: 0;
	margin: 0;
}

.server .content>li {
	min-height: 20px;
	line-height: 20px;
	border-bottom: 1px solid #000;
	padding: 5px;
	background-color: var(--bg-color);
	cursor: pointer;
	transition: background-color 0.5s;
}
.server .content>li:first-child {
	border-top: 1px solid black;
}
.server .content>li:nth-child(2n+1) {
	background-color: var(--bg-color-alt);
}
.server .content>li.new {
	animation-name: newBlink;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
.server .content>li pre {
	margin: 0;
	overflow: hidden;
	cursor: auto;
	color: var(--text-color);
	font-weight: normal;
	margin: 20px;
	background-color: var(--bg-color-pre);
	padding: 5px;
	border: 1px solid #888;
	overflow-x: auto;
}

.server .content>li.minor {
	color: var(--text-color-subtile);
}
.server .content>li.standard {
	color: #C4C;
}
.server .content>li.critical {
	color: var(--text-color-alert);
	font-weight: bold;
}

.filterbar {
	padding: 10px;
	display: flex;
}

.filterbar * {
	flex: 1;
}
.filterbar *:not(:first-child) {
	margin-left: 10px;
}

.button {
	border: 1px solid #888;
	border-radius: 5px;
	height: 20px;
	flex: 0;
	padding:2px 10px;
	cursor: pointer;
	font-weight: bold;
}
.button.active {
	background-color: navy;
	color: white;
}

.date-header {
	background: linear-gradient(#44C, #338, #44C) !important;
	text-align: center;
	font-weight: bold;
	color: var(--text-color-light);
	cursor: default !important;
}